@import '@/styles/variables';
@import '@/styles/mixins';

.popup {
  z-index: $zindexCardPopup;
}

.popupHeader {
  padding: 20px 0;
  background: var(--tg-theme-secondary-bg-color) !important;
}

.popupContainer {
  @include container;
}

.productTotalInfo {
  margin-top: 10px;
}

.productTotalAmount {
  margin-bottom: 5px;
}

.form {
  margin-top: 10px;
}

.popupMain {
  margin-top: 15px;
}

.textField {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.button {
  width: 100%;
}

.link {
  color: var(--tg-theme-link-color);
}

