@import '@/styles/variables';
@import '@/styles/mixins';

.container {
  @include container;
  @include grid(repeat(2, 1fr), none, 20px);

  margin: 0 auto;
  flex-wrap: wrap;
}

.buttonWrapper {
  @include flex(row, center, center);

  margin-top: 15px;
}

.button {
  border-color: var(--tg-theme-button-color) !important;
  color: var(--tg-theme-button-text-color) !important;
}