@import '@/styles/variables';
@import '@/styles/mixins';

.paper {
  width: 100%;
}

.popup {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--tg-theme-bg-color);
  z-index: $zindexNavigation;
}

.popupActive {
  .closeButton {
    position: fixed;
  }
}

.closeButton {
  border: 1px solid var(--tg-theme-button-color);
  position: absolute;
  top: 15px;
  right: 15px;
}