@import '@/styles/variables';
@import '@/styles/mixins';

.container {
  @include container;
  @include flex(column, center, center);

  width: 100vw;
  height: calc(100vh - 45px);

  .title {
    @include fontSize(25px);

    margin-bottom: 20px;
  }

  .link {
    color: var(--tg-theme-link-color);
  }
}