@import '@/styles/variables';
@import '@/styles/mixins';

.textField {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.button {
  background: var(--tg-theme-button-color) !important;
  color: var(--tg-theme-button-text-color) !important;
}

.link {
  color: var(--tg-theme-link-color);
}

.checkbox {
  color: var(--tg-theme-button-text-color) !important;
}