@import '@/styles/variables';
@import '@/styles/mixins';

.popup {  
  width: 100%;

  & > div {
    padding-top: 40px;
  }

  .popupContainer {
    @include container;
  }

  .list {
    width: 100%;
    max-width: 360px;
    padding: 0;
  };
}

