@import '@/styles/mixins';

.popup {  
  .popupContainer {
    @include container;

    padding-top: 40px;
    width: 100%;
  }

  .list {
    width: 100%;
    max-width: 360px;
    padding: 0;
  };
}

