@import '@/styles/mixins';

.button {
  background: var(--tg-theme-button-color) !important;
  color: var(--tg-theme-button-text-color) !important;
  height: 40px;
  width: 140px;
}

.buttonsWrapper {
  @include flex(row, space-between, center);

  background: var(--tg-theme-button-color);
  width: 140px;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.controllButton {
  color: var(--tg-theme-button-text-color);
}

.iconCart {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.icon {
  fill: var(--tg-theme-button-text-color) !important;
}