@import '@/styles/variables';
@import '@/styles/mixins';

.popup {
  z-index: $zindexCardPopup !important;
  background-color: var(--tg-theme-secondary-bg-color) !important;

  .popupContainer {
    @include container;
  }

  .title {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .productHeader {
    @include flex(row, space-between, center);

    margin-top: 15px;
  }

  .imageWrapper {
    @include flex(row, center);

    & > div {
      max-width: 350px;
    }
  }

  .productContent {
    h2, h3, h4, h5, h6 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 10px;
    }

    ul {
      padding-left: 15px;
    }
  }
}
