@import '@/styles/variables';
@import '@/styles/mixins';

.popup {
  z-index: $zindexCardPopup;
  background-color: var(--tg-theme-secondary-bg-color) !important;
}

.productContainer {
  padding: 0 $sideSectionPadding;
}

.productHeader {
  @include flex(row, space-between, center);

  margin-top: 15px;
}

.productLables,
.productLable {
  @include flex(row, initial, center);
}

.productLable {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.productLableText {
  margin-left: 5px;
}

.imageWrapper {
  @include flex(row, center)
}

.productContent {
  h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }

  ul {
    padding-left: 15px;
  }
}