@import '@/styles/variables';
@import '@/styles/mixins';

.popup {
  z-index: $zindexTextPopup;

  .popupContainer {
    @include container;
  }

  .title {
    margin-bottom: 20px;
  }

  .content {
    p {
      margin-bottom: 10px;
    }
  }
}