@import '@/styles/variables';
@import '@/styles/mixins';

.container {
  @include flex;

  overflow-x: scroll;
  padding: 10px 15px;
}

.inputWrapper {
  @include flex(row, flex-start, center);
}

.input {
  width: 120px;
}

.tagsList {
  @include flex;

  .tag {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}