@import '@/styles/mixins';

.card {
  overflow: hidden !important;
  width: 165px;
  height: 227px;
  background-color: var(--tg-theme-bg-color);
  border-radius: 10px;

  .cardInfo {
    margin: 10px 0;
  }
}