@import '@/styles/variables';
@import '@/styles/mixins';

.button {
  position: fixed !important;
  border-radius: 0 !important;
  background-color: var(--tg-theme-button-color) !important;
  color: var(--tg-theme-button-text-color) !important;
  bottom: 0;
  width: 100%;
  height: $orderButtonHeight;
}