@import '@/styles/mixins';
@import '@/styles/colors';

.card {
  max-width: 310px;
  padding: 40px 24px 26px;
  background: #FFF;
  border: 1px solid #F0F0F0;

  .articalTitle {
    @include fontSize(16px, 150%);
  }

  .articalSubtitle {
    @include fontSize(14px, 100%);

    color: #8F8F8F;
    margin-top: 20px;
    margin-bottom: 12px;
  }

  .imageWrapper {
    @include flex(row, center, center)
  }

  .prices {
    @include flex(row, initial, center);
  }

  .priceFirst {
    @include fontSize(18px, 100%);

    margin-right: 8px;
  }

  .priceSecond {
    @include fontSize(14px, 100%);
    
    text-decoration-line: line-through;
    color: #8F8F8F;
  }

  .promotion {
    @include fontSize(13px, 100%);

    width: 50px;
    background: #E24B33;
    color: #FFF;
    border-radius: 15px;
    padding: 4px 8px;
    font-weight: 500;
  }

  .infoHeader {
    @include flex(row, space-between, center);

    margin-bottom: 16px;
  }

  .description {
    @include fontSize(14px, 160%);

    max-width: 240px;
  }
}