@import '@/styles/mixins';

.slider {
  :global(.swiper-pagination) {
    @include flex;

    position: static;
  }

  .swiperBullet {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    border-radius: 100%;
    border: 1px solid var(--tg-theme-button-color);
  }
  
  .swiperBulletActive {
    background-color: var(--tg-theme-button-color);
  }
}