@import '@/styles/variables';
@import '@/styles/mixins';

.burger {
  @include flex(column, space-between);
  
  height: 20px;
  width: 30px;
  z-index: 100;
}

.line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: var(--tg-theme-text-color);

  .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
}

.burgerActive {
  .line1 {
    transform: rotate(45deg);
  }

  .line2 {
    transform: scaleY(0);
  }

  .line3 {
    transform: rotate(-45deg);
  }  
}
