@import '@/styles/mixins';
@import '@/styles/colors';

.button {
  @include fontSize(14px, 100%);

  color: white;
  background: #303030;
  text-align: center;
  text-transform: uppercase;
  outline: 0;
  border: 0;

  &:hover {
    background: #505050;
  }

  &:active {
    background: #000;
  }
}