@import '@/styles/variables';
@import '@/styles/mixins';

.container {
  @include flex(row, flex-end, center);

  padding: 0 $sideSectionPadding;
  height: $headerHeight;
}

.burger {
  @include flex(column, space-between);

  cursor: pointer;
  z-index: $zindexBurger,
}

.icon {
  fill: var(--tg-theme-button-text-color) !important;
}