@import '@/styles/mixins';

.card {
  overflow: hidden !important;
  width: 165px;
  background-color: var(--tg-theme-bg-color);
  border-radius: 10px;

  .productDetails,
  .productTitle,
  .productPriceWrapper {
    margin-bottom: 10px;
  }

  .productPriceWrapper {
    @include flex(row, space-between, center);
  }

  .productOldPrice {
    color: var(--tg-theme-hint-color);
    text-decoration: line-through;
  }

  .productDetail {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  .cardInfo {
    padding: 5px;
  }

  .cardImage {
    cursor: pointer;
    background-color: white;
    margin-bottom: 11px;
    object-fit: contain;
  }
}

.button {
  background: var(--tg-theme-button-color) !important;
  color: var(--tg-theme-button-text-color) !important;
  height: 40px;
}