.textFieldGroup,
.feedbackFormText {
  margin-bottom: 10px !important;
}

.button {
  background: var(--tg-theme-button-color) !important;
  color: var(--tg-theme-button-text-color) !important;

  &:disabled {
    opacity: 0.8 !important;
  }
}
