@import '@/styles/variables';
@import '@/styles/mixins';

.popup {
  z-index: 100;

  .popupContainer {
    @include container;
  }

  .title {
    margin-bottom: 20px;
  }

  .text {
    margin-bottom: 10px;
  }
}