@import '@/styles/variables';
@import '@/styles/mixins';

.popup {
  z-index: $zindexCardPopup;
  background: var(--tg-theme-secondary-bg-color) !important;
}

.popupMain {
  padding: 15px;
}

.textField {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.button {
  width: 100%;
}

.link {
  color: var(--tg-theme-link-color);
}

