@import './functions';

@mixin flex($fd: row, $jc: initial, $ai: initial, $fw: nowrap) {
  display: flex;
  flex-flow: $fd $fw;
  justify-content: $jc;
  align-items: $ai;
}

@mixin grid($tc: none, $tr: none, $gg: 0) {
  display: grid;
  grid-template-columns: $tc;
  grid-template-rows: $tr;
  grid-gap: $gg;
}

@mixin fontSize($size, $lineHeight: null) {
  font-size: calc-rem($size);

  @if $lineHeight {
    line-height: $lineHeight;
  }
}

@mixin container {
  padding: 0 15px;
}

@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}