$sideSectionPadding: 15px;
$headerHeight: 45px;
$orderButtonHeight: 70px;
$zindexNavigation: 10;
$zindexBurger: 100;
$zindexCardPopup: 110;
$zindexTextPopup: 120;
$zindexBasketButton: 1000;
$zindexBasketPopup: 1100;