$sideSectionPadding: 15px;
$headerHeight: 45px;
$orderButtonHeight: 70px;
$zindexBurger: 100;
$zindexCardPopup: 110;
$zindexTextPopup: 120;
$zindexNavigationPopup: 120;
$zindexBasketButton: 115;
$zindexBasketPopup: 1100;