* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--tg-theme-secondary-bg-color) !important;
  color: var(--tg-theme-text-color) !important;
}

input, textarea {
  outline: 0;
  border: 0;
  background: transparent;
}

a {
  color: var(--tg-theme-text-color);
  text-decoration: none;
}